<div class="container">
  <h1>Funds you are following</h1>
  <p>Funds</p>            
  <table class="table table-hover">
    <thead>
      <tr class="success">
        <th>Hedge Fund</th>
        <th>Month to Date</th>
        <th>Year to Date</th>
        <th>Current Month</th>
        <th>Previous Month</th>
      </tr>
    </thead>


    <tbody>

    <% @funds.each do |manager| %>
      <tr class="info">
          <td><%= link_to manager.name, fund_path(person) %></td>
      </tr>
     <% end %>
    
    </tbody>
  </table>
</div>